body {
    font-family: Roboto;
    margin: 0;
    padding: 0;
}
.flex-header {
    display: flex;
    align-items: center;
}

header {
    padding-top: 24px;
    padding-bottom: 25px;
}
.item-link {
font-weight: 500;
font-size: 14px;
letter-spacing: 0.02em;
color: #212121;

}

.item-link:hover,.item-link:focus {
    color: #2196f3;
}

.email,
.tell {
color: #757575;
font-weight: 500;
font-size: 14px;
letter-spacing: 0.02em;
}

.email:hover,.email:focus,
.tell:hover,.tle:focus {
    color: #2196f3;
}

.web-logo {
    color: #2196F3;
    line-height: normal;
    font-weight: 700;
    font-family: Raleway    ;
    font-size: 26px;
}

.studio-logo {
    color: #000;
        font-family: Raleway;
        font-size: 26px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
}

.list-item + .list-item {
margin-left: 50px;
}

.hero {
    padding-top: 200px;
    padding-bottom: 200px;
background-color: #2F303A;
}

.menu-title1 {
    font-weight: 900;
    font-size: 44px;
    width: 696px;
    text-align: center;
    margin: 0 auto;
    color: #FFFFFF;
    text-transform: uppercase;
}

.button {
    font-weight: 700;
    text-align: center;
    width: 200px;
    height: 50px;
    background-color: #2196F3;
    border-style: none;
    color: white;
    margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.menu-title3 {
    font-weight: 700;
    font-size: 14px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;
margin-top: 95px;
}

.flex-list {
display: flex;
}

.flex-img {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-list-images {
        margin-top: 50px;  
}

.img-list{
display: flex;
column-gap: 30px;
}

.list-cards {
    display: flex;
    column-gap: 30px;
}
.card {
  
}
.list-text {
    margin-top: 10px;
    font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: #757575;
}

.flex-members {
    display: flex;
flex-direction: column;
    align-items: center;
}

.footer{
    display: flex;
}
.flex-footer   {
    display: flex;
    flex-direction: column;
}

.team-list {
    display: flex;
    }
.team-list-images {
    margin-left: 30px;
}

a {
 text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.link {
    font-family: Raleway;
    font-weight: 700; 
}

.navigation {
    display: flex;
}

.menu-list{
    font-weight: 500;
    display: flex;
margin-left: 93px;
}

.header-items {
    font-weight: 500;
    margin-left: auto;
    display: flex;
}


.menu-title2 {
    font-weight: 700;
    margin-top: 94px;
    text-align: center;
}

.menu-title2-2 {
    text-align: center;
    margin-top: 190px;
    margin-bottom: 50px;
}

.footer-items {
    font-weight: 400;
}


.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}
p{
    margin: 0;
    padding: 0;

}

.footer-adress {
    margin-top: 20px;
}

.card-img {
    width: 370px;
    height: 294px;
}

.filters {
    display: flex;
    justify-content: center;
    margin-top: 82px;
    margin-bottom: 50px;
}
.filters-item {
    margin-right: 52px;

    
}

.cards {
    
}

.cards-list   {
    display: flex;
    flex-wrap: wrap;
   justify-content: center;
   flex-basis: calc(100% / 3 - 30px );
}

