body {
    font-family: Roboto;
    line-height: 1.2;
    
}
.flex-header {
    display: flex;
    align-items: center;
}

header {
    padding-top: 24px;
    padding-bottom: 25px;
}

.list-item {

}



.list-item + .list-item {
margin-left: 50px;
}

a {
 text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.link {
    font-family: Raleway;
    font-weight: 700; 
}

.navigation {
    display: flex;
}

.menu-list{
    font-weight: 500;
    display: flex;
margin-left: 93px;
}

.header-items {
    font-weight: 500;
    margin-left: auto;
    display: flex;
}

.menu-title1 {
    font-weight: 900;
}

.button {
    font-weight: 700;
}

.menu-title3 {
    font-weight: 700;
}

.list-text {
    font-weight: 400;
}

.menu-title2 {
    font-weight: 700;
}

.footer-items {
    font-weight: 400;
}

.logo {
    font-weight: 700;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.flex-list {
    display: flex;
    justify-content: ;
}